.aboutParent {
  gap: 2rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.aboutTitle {
  text-align: center;
  font-size: 50px;
  color: #c5a86a;
}
.aboutParent p {
  font-size: 18px;
  text-align: justify;
  line-height: 30px;
}
